*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:#2090f3;
    --bg-color: #0a0a0a;
    --main-text: #ffffff;
}


/* //////////// */
/* Main styling */
/* //////////// */
body {
    font-family: sans-serif;
    color:var(--main-text);
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

main {
    aspect-ratio: 1/ 1.8;
    padding: 1em;
    border: .5em solid var(--main-color);
    border-radius: .5em;
    position: relative;
    box-shadow: 0 0 1em .1em rgba(255,255,255,0.75);
    background: 
    var(--bg-color)
    repeating-linear-gradient(
          130deg,
          transparent 0% 10%,
          rgba(255, 255, 255, 0.1) 10% 15%    
    );
    background-position: 0% 0%;
    transition: 1s;
    min-width: 20em;
    transform-style: preserve-3d;
}

body > h1 {
    position: absolute;
    font-size: 50vw;
    opacity: 0.1;
    text-overflow: clip;
}

h1:nth-of-type(2) {
    margin: 1em 0 0.25em 0;
}

ul {
    list-style: none;  
}

a {
    text-decoration: none;
    color: inherit;
}


/* ///////////// */
/* Personal data */
/* ///////////// */
main section:first-of-type {
    display: grid;
    place-items: center;
    margin: 10vh 1em;
}

main section:first-of-type a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

main section:first-of-type a i {
    display: none;
    position: absolute;
    right: -1.2em;
    top: 20%;
    transform: translateX(50%);
}

main section:first-of-type a:hover i {
    display: inline-block;
    animation: usernameArrows 1s forwards;
}

main section:first-of-type img {
    border-radius: 50%;
    height: 5em; 
    transition: .5s;
}

main section:first-of-type img:hover {
    box-shadow: 0 0 1em .1em rgba(255,255,255,0.75);
}



/* ////////// */
/* aboutme     */
/* ////////// */

aside {
    position: absolute;
    padding: .5em 1em;
    background-color: var(--main-color);
    top:1em;
    right:0;
    z-index: 1;
    transform-style: preserve-3d;
    cursor: pointer;
}

main > aside::after {
    content: "";
    height: 2.5em;
    width: 4em;
    background-color: var(--main-color);
    position: absolute;
    left: 1em;
    top: 0.2em;
    transform-origin: top right;
    transform: rotate(-45deg) translateZ(-1px);
    transition: .3s;
}

main > aside::before {
    content: "";
    height: 2.5em;
    width: 3em;
    background-color: var(--main-color);
    position: absolute;
    transform: translateX(-100%);
    right: -3em;
    top: 0;
    z-index: -1;
    transition: .3s;
}

aside:hover::before {
    transform: translateX(0px);  
}

aside:hover::after {
    left: 4.4em;
    
}


/* ////////// */
/* Navigation */
/* ////////// */
nav {
    position: absolute;
    left: 50%;
    bottom: 2.5em;
    transform: translateX(-50%);
    transition: .3s;
    display: flex;
    width: 100%;
    height: 2.5em;
    justify-content: center;
    border-radius: 1em;
}

nav ul {
    background-color: var(--main-color);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    transition: .3s;
    border-radius: .5em;
}

nav li {
    height: 100%;
    aspect-ratio: 2/1;
    position: relative;
    display: grid;
    place-content: center;
    transition: .3s;
}

nav li:nth-of-type(odd):hover {
    box-shadow:inset .1em .1em .5em black;
}

nav li:nth-of-type(2) a i {
    transform: scale(0);
    transition: .4s;
}

nav li:nth-of-type(2):hover {
    transform: scale(1.1);
}

nav ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

nav li i {
    color: var(--main-text);
    font-size: 2em;
}

nav li:first-of-type i{
    font-size: 1.5em;
}

nav li:nth-of-type(2) {
   border-radius: 50%;
   height: 4em;
   top: -25%;
   aspect-ratio: 1/1;
   background-color: inherit;
   box-shadow: 0 0 1em .5em rgba(0,0,0,0.75);
}





/* ////////// */
/* Repo Menu  */
/* ////////// */
main > ul {
    transform: scale(0);
    transform-origin: center bottom;
    position: absolute;  
    bottom: 0;
    display: flex;
    width: calc(100% - 2em);
    overflow-y: hidden;
    overflow-x: auto;
    transition: .3s;
    scroll-snap-type: x mandatory;
}



main > ul li {
    height: 20em;
    aspect-ratio: 1 / 1.5;
    border:.2em solid var(--main-color);
    background-color: var(--bg-color);
    margin: 0.75em;
    position: relative;
    transition: .5s;
    scroll-snap-align: center;
    box-shadow: 0 0 1em .5em rgba(0,0,0,0.75);
    padding: 1em;
}

main > ul li:hover {
   
    background-color: var(--main-color);
 
}

main > ul li h2 {
    text-decoration: none;
    color: var(--main-text);
    font-size: 1.2em;
    margin-bottom: 1em;
}

main > ul li div {
    position: absolute;  
    bottom: 1em;
    padding: .2em .5em;
}

main > ul li:first-of-type {
    margin-left: 0;
}

main > ul li:last-of-type {
    margin-right: 0;
}

main > ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
}

[data-language="HTML"] {
    background-color: #e34f26;
}

[data-language="CSS"] {
    background-color: #264de4;
}

[data-language="JavaScript"] {
    background-color: #f7df1e;
    color: black;
}

/* ///////////////// */
/* Backside         */
/* ///////////////// */

section:nth-of-type(2) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transform: rotateY(180deg) translateZ(10px);
    background: 
    var(--bg-color)
    repeating-linear-gradient(
          130deg,
          transparent 0% 10%,
          rgba(255, 255, 255, 0.1) 10% 15%    
    );
    padding: 4em 1em;
}

section:nth-of-type(2) aside {
    left: 0;
    display: table;
}


/* ///////////////// */
/* Keyframes         */
/* ///////////////// */

@keyframes usernameArrows {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(.5em);
    }
    100% {
        transform: translateX(0);
    }
}


/* ///////////////// */
/* Classes (For js)  */
/* ///////////////// */
.showProjects {
    transform: scale(1);
}

.hideMenuButton {
    display: none;
}

.showX {
    transform: scale(1) !important;
}

.menuPosition {
    transform: translateY(-21.5em) translateX(-50%);
}

.changeMenu {
    width: 10%;
}

.flipCard {
    transform: rotateY(180deg);
}