*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:#2090f3;
    --bg-color: #0a0a0a;
    --main-text: #ffffff;
}


/* //////////// */
/* Main styling */
/* //////////// */
body {
    font-family: sans-serif;
    color:var(--main-text);
    background-color: var(--bg-color);
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Kanit', sans-serif;
}

main {
    aspect-ratio: 1/ 1.8;
    padding: 1em;
    border: .5em solid var(--main-color);
    border-radius: .5em;
    position: relative;
    box-shadow: 0 0 1em .1em rgba(255,255,255,0.75);
    background: repeating-linear-gradient(
          130deg,
          transparent 0% 10%,
          rgba(255, 255, 255, 0.1) 10% 15%    
    );
    background-position: 0% 0%;
    transition: .3s;
}

h1 {
    margin: 1em;
}

ul {
    list-style: none;  
}



/* ///////////// */
/* Personal data */
/* ///////////// */
main section:first-of-type {
    display: grid;
    place-items: center;
    margin: 1em;
}

main section:first-of-type img {
    border-radius: 50%;
    height: 5em; 
    transition: .5s;
}

main section:first-of-type img:hover {
    box-shadow: 0 0 1em .1em rgba(255,255,255,0.75);
}



/* ////////// */
/* Navigation */
/* ////////// */
nav {
    position: absolute;
    left: 50%;
    bottom: 2.5em;
    transform: translateX(-50%);
    transition: .3s;
    display: flex;
    width: 100%;
    height: 2.5em;
    justify-content: center;
    border-radius: 1em;
}

nav ul {
    background-color: var(--main-color);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    transition: .3s;
    border-radius: .5em;
}

nav li {
    height: 100%;
    aspect-ratio: 2/1;
    position: relative;
    display: grid;
    place-content: center;
    transition: .3s;
}

nav li:nth-of-type(odd):hover {
    box-shadow:inset .1em .1em .5em black;
}

nav li:nth-of-type(2) a i {
    transform: scale(0);
    transition: .4s;
}

nav li:nth-of-type(2):hover {
    transform: scale(1.1);
}

nav ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-decoration: none;
}

nav li i {
    color: var(--main-text);
    font-size: 2em;
}

nav li:first-of-type i{
    font-size: 1.5em;
}

nav li:nth-of-type(2) {
   border-radius: 50%;
   height: 4em;
   top: -25%;
   aspect-ratio: 1/1;
   background-color: inherit;
   box-shadow: 0 0 1em .5em rgba(0,0,0,0.75);
}





/* ////////// */
/* Repo Menu  */
/* ////////// */
main > ul {
    transform: scale(0);
    transform-origin: center bottom;
    position: absolute;  
    bottom: 0;
    display: flex;
    width: calc(100% - 2em);
    overflow-y: hidden;
    overflow-x: auto;
    transition: .3s;
    scroll-snap-type: x mandatory;
}



main > ul li {
    height: 20em;
    aspect-ratio: 1 / 1.5;
    border:.2em solid var(--main-color);
    background-color: var(--bg-color);
    margin: 1em;
    position: relative;
    transition: .5s;
    scroll-snap-align: center;
    box-shadow: 0 0 1em .5em rgba(0,0,0,0.75);
    padding: 1em;
}

main > ul li:hover {
   
    background-color: var(--main-color);
 
}

main > ul li h2 {
    text-decoration: none;
    color: var(--main-text);
    font-size: 1.2em;
    margin-bottom: 1em;
}

main > ul li div {
    position: absolute;  
    bottom: 1em;
    padding: .2em .5em;
}

main > ul li:first-of-type {
    margin-left: 0;
}

main > ul li:last-of-type {
    margin-right: 0;
}

main > ul li a {
    position: absolute;
    width: 100%;
    height: 100%;
}

[data-language="HTML"] {
    background-color: #e34f26;
}

[data-language="CSS"] {
    background-color: #264de4;
}

[data-language="JavaScript"] {
    background-color: #f7df1e;
}


/* ///////////////// */
/* Classes (For js)  */
/* ///////////////// */
.showProjects {
    transform: scale(1);
}

.hideMenuButton {
    display: none;
}

.showX {
    transform: scale(1) !important;
}

.menuPosition {
    transform: translateY(-21.5em) translateX(-50%);
}

.changeMenu {
    width: 10%;
}